.water {
    grid-column-start: 3; /* Level - 1 */
}

.poison {
    grid-column-start: 5; /* Level - 2 */
}

.water {
    grid-column-end: 4; /* Level - 3 */
    grid-column-end: 2; /* Level - 4 */
    grid-column-end: -2; /* Level - 5 */
}

.poison {
    grid-column-start: -3; /* Level - 6 */
}

.water {
    grid-column-end: span 2; /* Level - 7 */
    grid-column-end: 6; /* Level - 8 */
    grid-column-start: span 3; /* Level - 9 */
    grid-column: 4 / 6; /* Level - 10 */
    grid-column: 2 / span 3; /* Level - 11 */
    grid-row-start: 3; /* Level - 12 */
    grid-row: 3 / span 3; /* Level - 13 */
}

.poison {
    grid-column: 2; /* Level -14 */
    grid-row: 5; /* Level -14 */     
}

.water {
    grid-column: 2/ span 4; /* Level - 15 */
    grid-row: 1 / span 5; /* Level - 15 */

    grid-area: 1 / 2 / 4 / 6; /* Level - 16 */
}

.water-2 {
    grid-area: 2 / 3 / 5 / 6; /* Level - 17 */
}

.poison {
    order: 1; /* Level - 18 */
    order: -1; /* Leve - 19 */
}

#garden {
    grid-template-columns: 50% 50%; /* Level - 20 */
    grid-template-columns: repeat(8, 12.5%); /* Level - 21 */
    grid-template-columns: 100px 3em 40%; /* Level - 22 */
    grid-template-columns: 1fr 5fr; /* Level - 23 */
    grid-template-columns: 50px repeat(3, 1fr) 50px; /* Level - 24 */
    grid-template-columns: 75px 3fr 2fr; /* Level - 25 */
    grid-template-rows: 50px 0 0 0 1fr; /* Level - 26 */
    grid-template: 60% 40% / 200px 1fr; /* Level - 27 */
    grid-template: 1fr 50px / 1fr 4fr; /* Level - 28 */
}